.body{
    font-family: "Jost", sans-serif;

}

.cardContainer{
    background-color: #fff0de;
    padding: 20px;
    margin: 20px;
    width: 250px;
    height: 300px;
}

.header-container{
    margin: 0px 50px;
}
.headerSection{
    background-color: #290a0a;
}
.header-container li{
    color: #fff;
}
.background-card{
    border:1px solid #7a7a7a
}
.background-card h4{
    color: #414141;
    font-size: 16px;
}
.background-card p{
    font-size: 14px;
}
button{
    background-color: #fd7227;
    color:#fff;
}
/* p-2 m-2 w-[250px] h-[300px] bg-pink-50 rounded-lg  */

.sectioncontainer{
    background-color: #290a0a ;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%, 0% 80%); */
    padding: 0px 0px 150px 0px;
}

.content-section{
width: 60%;
}
.content-section h4{
    font-size: 60px;
    margin: 30px 0px;
    padding: 30px;
}
.searchBar{
    border: 1px solid #fff;
    padding: 10px 200px 10px 40px;
    border-radius: 30px;
    background: #290a0a;
    text-align: left;
    position: relative;
    display: inline-block;
    margin: 0px 30px;
}

.searchicon{
    position:absolute;
    color: #fff;
    transform: translate3d(45px , -32px ,0px );
    font-size: 20px;
}
.content-section .btn-search{
    padding: 10px 30px;
    background-color: #fd7227;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    border-radius: 30px;
}

.custom-shape-divider-bottom-1740726810 {
    /* position: absolute; */
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-color: #290a0a;
}

.custom-shape-divider-bottom-1740726810 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 127px;
}

.custom-shape-divider-bottom-1740726810 .shape-fill {
    fill: #FFFFFF;
}

.shimmerCard{
    width: 250px;
    height: 270px;
    background-color: grey;
}

.flex-banner{
    display: flex;
    justify-content: center;
    gap: 10px;
    /* background-color: #fd7227; */
    background-color: #ececec;
    border-radius: 30px;
    box-shadow: 0 15px 60px -20px rgba(0, 0, 0, 0.1);
    margin: -100px 0px 0px 0px;
}
.bannerList{
    text-align: center;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.bannerList h3{
    font-weight: 600;
    color: #fd7227;
    font-size: 20px;
}
.bannerImg{
    width: 100px;
    height: 100px;
}
.bannerContainer{
    width: 80%;
}